<footer class="text-center text-lg-start fixed-bottom" style="background-color: #54456b;">
    <div class="text-center text-white p-3" style="background-color: darkcyan;">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</footer>